<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav opened mode="side" class="sidenav">
    <mat-nav-list>
      <div class="sidebar-list">
        <a mat-list-item [routerLink]="'/home'">
          <mat-icon class="iconify" data-icon="ic:baseline-home" data-inline="false"></mat-icon>
          Home
        </a>
        <a mat-list-item [routerLink]="'/files'">
          <mat-icon class="iconify" data-icon="ic:baseline-create-new-folder" data-inline="false"></mat-icon>
          Files
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="iconify" data-icon="ic:baseline-menu" data-inline="false"></mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
