<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav opened mode="side" class="sidenav" [ngStyle.lt-md]="{'width': '80px'}">
    <mat-nav-list>
      <div class="sidebar-list">
        <a mat-list-item [routerLink]="'/home'">
          <mat-icon aria-hidden="false" aria-label="Home"
            [ngStyle.lt-md]="{'margin': '0 auto', 'padding-right': '0px', 'width': '24px'}">home</mat-icon>
          <span fxHide.lt-md>Home</span>
        </a>
        <a mat-list-item [routerLink]="'/files'">
          <mat-icon aria-hidden="false" aria-label="File"
            [ngStyle.lt-md]="{'margin': '0 auto', 'padding-right': '0px', 'width': '24px'}">create_new_folder
          </mat-icon>
          <span fxHide.lt-md>Files</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="Menu">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
