<!-- <div fxLayout="row wrap" fxLayout.sm="column">
  <div fxFlex.lg="33.333%" fxFlex.md="66.667%" fxFlex.lt-sm="100%" style="background-color:red">
    first-section
  </div>
  <div fxFlex.lg="33.333%" fxFlex.md="66.667%" fxFlex.lt-sm="100%" style="background-color:blue">
    second-section
  </div>
  <div fxFlex.lg="33.333%" fxFlex.md="66.667%" fxFlex.lt-sm="100%" style="background-color:yellow">
    third-section
  </div>
</div> -->


<div flex fxLayout="row" fxLayoutGap="15px" fxLayout.sm="column">
  <div fxFlex="33.333" style="background-color:red">First</div>
  <div fxFlex="33.333" style="background-color:blue">Second</div>
  <div fxFlex="33.333" style="background-color:yellow">Third</div>
</div>
