<div class="content">

  <!-- <div fxLayout="row wrap" fxLayout.sm="column">
  <div fxFlex.lg="33.333%" fxFlex.md="66.667%" fxFlex.lt-sm="100%" style="background-color:red">
    first-section
  </div>
  <div fxFlex.lg="33.333%" fxFlex.md="66.667%" fxFlex.lt-sm="100%" style="background-color:blue">
    second-section
  </div>
  <div fxFlex.lg="33.333%" fxFlex.md="66.667%" fxFlex.lt-sm="100%" style="background-color:yellow">
    third-section
  </div>
</div> -->


  <!-- <div flex fxLayout="row" fxLayoutGap="15px" fxLayout.sm="column">
    <div fxFlex="33.333" style="background-color:red">First</div>
    <div fxFlex="33.333" style="background-color:blue">Second</div>
    <div fxFlex="33.333" style="background-color:yellow">Third</div>
  </div> -->

  <!-- <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="15px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let _ of [1,2,3,4]">
      <app-card fxFlex="0 1 calc(25% - 15px)" fxFlex.lt-md="0 1 calc(50% - 15px)" fxFlex.lt-sm="100%"></app-card>
    </ng-container>
  </div> -->

  <div flex fxLayout="row wrap" fxLayoutGap="15px grid" fxLayout.lt-sm="column">
    <ng-container *ngFor="let _ of [1,2,3,4]">
      <div fxFlex fxFlex.lt-md="0 1 50%">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>

  </div>


</div>
